// Custom Color Overrides

$primary: #4A715E;
$link: #4A715E;
$grey-dark: #945900;
$grey-light: #E6A06F;

$footer-background-color: #4d7c6a; 
$footer-color: true;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

// Custom Element Styles

html {
	scroll-behavior: smooth;
}

html, body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.wrapper {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
}

.scroll-chevron {
	a > i {
		color: $grey-light;
	}
	font-size: 3em;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 30px;
}

.renderList > ul {
	list-style: square;
	padding-inline-start: 40px;
}

.height-override {
	min-height: 100vh;
	display: flex;
	.container {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
}
.tile.is-child.card {
	.card-footer {
		margin-top: auto;
	}
	display: flex;
	flex-direction: column;
}

.info-card-media {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.background-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.landing-hero {
    background-image:linear-gradient(141deg, rgba(47, 89, 62, 0.9) 0%, rgba(74, 113, 94, 0.87) 71%, rgba(79, 134, 116, 0.75) 100%), url('/img/marita-kavelashvili-ugnrXk1129g-unsplash.jpg');
}

.blog-post-hero {
    background-image:linear-gradient(141deg, rgba(21, 157, 198, 0.9) 0%, rgba(50, 152, 220, 0.87) 71%, rgba(67, 137, 229, 0.75) 100%), url('/img/chuttersnap-9AqIdzEc9pY-unsplash.jpg');
}

.contact-hero {
    background-image:linear-gradient(141deg, rgba(31, 25, 26, 0.9) 0%, rgba(54, 54, 54, 0.87) 71%, rgba(70, 64, 63, 0.75) 100%), url('/img/annie-spratt--0tHnuquK-I-unsplash.jpg');
}

@media only screen and (min-device-width: 900px) {
	  .page-title {
		    font-size: 12em;
	  }
	  .scroll-chevron {
		    font-size: 3em;
	  }
}

@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 900px) {
	  .page-title {
		    font-size: 8em;
	  }
	  #second-chevron {
		    display: none;
	  }
}

@media only screen and (max-device-width: 600px) {
	  .page-title {
		    text-align: center;
		    font-size: 4em;
	  }
	  #second-chevron {
		    display: none;
	  }
    .info-card-media {
        flex-flow: column;
    }
}
